services:
  backend:
    image: ghcr.io/studio-yandex-practicum/procharity_back_2.0:stage
    container_name: procharity_bot_backend
    restart: always
    volumes:
      - ./logs/:/app/logs/
      - static:/app/templates
    depends_on:
        postgres:
          condition: service_healthy
    ports:
        - "8000:8000"
    env_file:
        - ../.env

  postgres:
    image: postgres:13.2
    container_name: procharity_postgres
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ../.env
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER}" ]
      interval: 3s
      timeout: 3s
      retries: 5

  front:
    image: "ghcr.io/studio-yandex-practicum/procharity_bot_front:prod"
    env_file:
        - ../.env
    volumes:
        - frontend_build:/frontend/build

  swag:
    image: lscr.io/linuxserver/swag:2.4.0
    container_name: procharity_swag
    cap_add:
      - NET_ADMIN
    environment:
      - TZ=Europe/Moscow
      - URL=${APPLICATION_URL}
      - VALIDATION=http
      - CERTPROVIDER=zerossl
      - EMAIL=yandex-practicum@yandex.ru
    env_file:
      - ../.env
    volumes:
      - ../nginx_logs:/var/log/nginx
      - ./nginx/swag.conf:/config/nginx/site-confs/default.conf
      - frontend_build:/usr/share/nginx/html
      - keys:/config/keys
      - static:/var/html/static/:ro
    ports:
      - "443:443"
      - "80:80"
    restart: unless-stopped
    depends_on:
      - backend
      - front

volumes:
  postgres_data:
  keys:
  static:
  frontend_build:
